@model Iglesia.Models.Persona

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalles</h1>

<div>
    <h4>Persona</h4>
    <hr />

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefonoPer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefonoPer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.celular)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.celular)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.correo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.correo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoDocumento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoDocumento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocuIdentidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DocuIdentidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadNacimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadNacimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaisResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaisResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CiudadResidencia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CiudadResidencia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EstadoCivil)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EstadoCivil)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hijos)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hijos)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profesion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profesion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreEmpresa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreEmpresa)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ocupacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ocupacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoEmp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoEmp)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaConversion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaConversion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaBautismo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaBautismo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAceptado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAceptado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Denominacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Denominacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreIglesia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreIglesia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IglesiaAnterior)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IglesiaAnterior)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombrePastor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombrePastor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Disciplinado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Disciplinado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Causas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Causas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funciones)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funciones)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ministerios)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ministerios)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinisterioMayorFruto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinisterioMayorFruto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MinisterioLlamado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MinisterioLlamado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Metas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Metas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Respaldo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Respaldo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NivelEstudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NivelEstudio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpulsadoIns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpulsadoIns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razon)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razon)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PersonaId" class="btn btn-outline-success">Edit</a> |
    <a asp-action="Index" class="btn btn-outline-dark">Volver</a>
</div><br />
