@model IEnumerable<Iglesia.Models.Persona>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    div .table {
        max-height: 370px;
        overflow: auto;
    }
</style>
<h3>Vista de personas Registrada</h3>
<hr />

<div class="container table">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.apellido)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.celular)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.genero)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.correo)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Direccion)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.apellido)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.celular)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.genero)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.correo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Direccion)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.PersonaId" class="btn btn-outline-success"><i class="fas fa-edit"></i></a> |
                        <a asp-action="Details" asp-route-id="@item.PersonaId" class="btn btn-outline-secondary"><i class="fas fa-list-ul"></i></a> |
                        <a asp-action="Delete" asp-route-id="@item.PersonaId" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
<div class="container">
    <p style="float:right;">
        <a asp-action="Create" class="btn btn-outline-dark"><i class="fas fa-plus-circle"></i> Agregar</a>
    </p>
</div>

